parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    ignoreErrors:
        # Doctrine entity $id is assigned via reflection
        - identifier: property.unusedType
          path: src/Domain/Entity/*.php
        # Symfony config reference class
        - identifier: class.notFound
          path: config/reference.php
        # Mock objects in tests
        - identifier: method.notFound
          path: */tests/*.php
          reportUnmatched: false
